body {
  
  /* display: flex; */
 /* display:block; */
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, white, black); */
  /* font-family: 'Ropa Sans', sans-serif; */
  font-family: 'helvetica', sans-serif;
  display: block;
  /* height: 100%; */
  /* width:100%; */
  /* overflow: auto; */
  overflow-y: scroll;
    /* overflow: hidden; */

    width: 100%;
    /* background: blue; */
   
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right:20%;
    margin-left:20%; */
    background-color:  white;
  
} 



header{
  display:flex !important;
  position:fixed;
  top:0;
  left:0;
  width: 100%; 
  height: 50px;
  padding: 5px;
  background: black;
  z-index: 2;
  
}
 
 
 
 
 
.cap5 {
   /* top:0; */
   font-size: 30px;
   margin-right:20%;
   margin-left:10%;
   margin-top:0;
   margin-bottom: 0;
   /* text-align: center; */
   /* background:transparent;   */
   min-width: 100px;
}

.cap5:hover {
  text-decoration: none;
}

.items{
  min-width: 300px;
}
.menu-item {
 list-style: none;
 /* background: red; */
 margin-right: 20px;
 margin-top: 10px;
 display: inline;
}

.insta{
 margin-top: 5px;
 /* background:red; */
 color:black;
 text-align: center;
 height: 30px;
 width: 50px;
 min-width: 50px;
 filter: invert();
}
.youtube{
 margin-top: 5px;
 /* background:blue; */
 color:black;
 text-align: center;
 height: 30px;
 width: 40px;
 min-width: 30px;
 filter: invert();
}



  


.member{
  margin-top:150px;
 margin-bottom: 100px;
 margin-right:auto;
 margin-left:auto; 
 /* height: 60%; */
 /* background: rebeccapurple; */
 width: 60%;  

}
.background{
  margin-top: 0;
 margin-bottom: 0;
 margin-right:auto;
 margin-left:auto; 
 /* height: 60%; */
 /* background: rebeccapurple; */
 width: 30%;  
}

#all{
  margin-top: 5%;
  display: flex;
  /* background: blueviolet; */
  /* object-fit: cover;  */
}


.rane1{
  /* background: red; */
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.rane2{
  /* background: red; */
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
.rane3{
  /* background: red; */
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
.rane4{
  /* background: red; */
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
.photo{
  margin-top: 0;
  /* width: 800px; */
  width:100%;
  margin-left: auto; 
  margin-right: auto; 
  filter: grayscale(100%);
  transition-duration: 1s;
  /* opacity: 0.1; */
  /* margin-top: 40%; */
}

.photolast{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  margin-bottom:30% ;
  width: 30%;

}

/* .photo:hover{
  filter: grayscale(0);
  opacity: 1;

} */


/*-----  SP  ---- */
@media screen and (max-width: 760px) {
  /* 768pxまでの幅の場合に適応される */


  header{
    display: flex!important;;
    position:fixed;
    top:0;
    left:0;
    width: 100%; 
    padding: 5px;
    background:black;
    /* background: rgb(236, 236, 236); */
    height: auto;
    z-index: 2;
    padding-bottom:0 !important;
    opacity: 0.7;
  }
   
   #nav1{
     margin-right: 0;
     /* margin-left: auto; */
     /* background: green; */
     background: transparent;
     color:white;
   }
   .cap5 {
    font-size: 30px;
    margin-right: 0;
  }

  .items{
    min-width: 100px;
 }
 .menu-item{
  list-style: none;
  /* background: red; */
  /* margin-right: 0; */
  /* padding-left:0 ; */
  text-align: right;
  display: block;
  margin-top: 50px;
  font-size: 30px;
}

  .navbar-toggler{
    filter:invert();
  }
  .navbar{
    margin-bottom: 0!important;
  }
  /* 先ほどここ追加した。 */

  .insta{
    display:none;
   }
   .youtube{
    display:none;
   }



 }

